<li class="ss-list-group-item removeExercise" data-exId="{{id}}">
    <span>{{name}}</span><span>  <a href="/exercise/{{id}}" target="_blank">details</a></span>
    <div class="card-body">
    </div>
</li>
