<li class="ss-list-group-item addUser" data-userId="{{id}}">
    <span>{{displayName}}</span> <span> <a href="/user/{{id}}" target="_blank">details</a></span>
    <div class="card-body">
        {{email}}
    </div>
</li>
