<li class="ss-list-group-item" data-userId="{{lead.id}}">
    <span>{{lead.displayName}}</span> <span> <a href="/user/{{lead.id}}" target="_blank">details</a></span>
    <div class="card-body">
        {{lead.email}}
    </div>
</li>
