<li class="ss-list-group-item" data-userId="{{follow.id}}">
    <span>{{follow.displayName}}</span> <span> <a href="/user/{{follow.id}}" target="_blank">details</a></span>
    <div class="card-body">
        {{follow.email}}
    </div>
</li>
