    <li class="ss-list-group-item" data-muscId="{{id}}">
        <a href="/muscle/{{id}}">
          <span>{{name}}</span>
              {{!-- <img src="{{image_url_name}}" alt="body-part-image"> --}}
        </a>
    </li>
             


