<li class="ss-list-group-item userRoutine" data-routineId="{{id}}">
    <a href="/routine/{{id}}">
    <span>{{name}}</span>
    <div class="card-body">
      <p>Desciption: {{description}}</p>
    </div>
    </a>
</li>
