<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <nav class="nav">
                    <a class="link" href="/">Home</a>

                    <a class="link" href="/about">About</a>
                    <a class="link" href="/routines">Routines</a>
                    <a class="link" href="/" id="logout">Logout</a>

                    <a class="link" href="/login">Login</a>

                </nav>          
          </div>

          <h1 class="app-title"><i class="fab "></i>Stretch N Strengthen</h1>
      </header>

    <main>
      {{{ body }}} 
    </main>
  </div>


    <script src="/js/logout.js"></script>


</body>

</html>