<section class="exercise">
  <div class="muscle-background mx-auto" style="background-image: url('https://wger.de/static/images/muscles/main/muscle-1.svg'),
  url('https://wger.de/static/images/muscles/muscular_system_front.svg');">
  </div>

  <div class="exercise-details">
    <h3>Biceps Curls With Barbell</h3>
    <p>Hold the Barbell shoulder-wide, the back is straight, the shoulders slightly back, the arms are streched. Bend the arms, bringing the weight up, with a fast movement. Without pausing, let down the bar with a slow and controlled movement.</p>
    <p>Don't allow your body to swing during the exercise, all work is done by the biceps, which are the only mucles that should move (pay attention to the elbows).</p>
  </div>
</section>