{{!-- SAMPLE IDEA --}}
<section class="exercise">
  {{!-- If time allows, we can use an npm package to make backaground color based off image that populates --}}
  <img src="/images/{{muscle.image_file_url}}" alt="{{muscle.description}}">
  <div class="exercise-details">
    <h3>{{exercise.name}}</h3>
    <p>By: {{exercise.description}}</p>
    {{!-- <a href="">Link to Video</a> --}}
    {{!-- <a href="">Link to Article</a> --}}
  </div>
</section>

