
  <section id="hero" class="hero">
    <div class="columns is-mobile">
      <div class="column">
        <div class="hero-body hero-main">
          <div class="container">
            <h1 class="hero-title">Start Your</h1>
            <h2 class="hero-subtitle">Fitness Journey</h2>
            <div class="mt-5">
              <a href="/signup" class="button is-large button-classic uppercase">Sign up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <main id="workout-benefits">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <div class="info-box has-text-centered">
            <i class="fas fa-walking"></i>
            <h3>Create Workout</h3>
            <p>Choose the exercises that will work for you. Save them to your list so you can create your routine.</p>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="info-box has-text-centered">
            <i class="fas fa-weight"></i>
            <h3>Lose Weight</h3>
            <p>Exercise is crucial to supporting a fast metabolism and burning more calories per day. It also helps you
              maintain your muscle mass and weight loss.</p>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="info-box has-text-centered">
            <i class="fas fa-fist-raised"></i>
            <h3>Increased Energy Levels</h3>
            <p>Engaging in regular physical activity can increase your energy levels.</p>
          </div>
        </div>
        <div class="column is-one-quarter">
          <div class="info-box has-text-centered">
            <i class="fas fa-bed"></i>
            <h3>Sleep Better</h3>
            <p>Regular physical activity can help you sleep better and feel more energized during the day.</p>
          </div>
        </div>
      </div>
    </div>
