<!-- This template includes hardcoded data. In future lessons, you will be rendering data dynamically. -->
<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      Exercise Menu
    </h2>
  </div>
    <div>
      <ol>
        <li>
          Shoulders
        </li>
        <li>
          Arms
        </li>
        <li>
          Chest
        </li>
        <li>
          Back
        </li>
        <li>
          Core
        </li>
        <li>
          Thighs
        </li>
        <li>
          Legs
        </li>
      </ol>
    </div>
  </div>
</div>