<main>
    <section id="login-section" class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h2 class="title">Login</h2>
                    <hr class="login-hr">
                    <p class="login-subtitle">Please login to proceed.</p>
                    <div class="avatar-box">
                        <figure class="avatar">
                            <img src="./assets/images/logo-main.png">
                        </figure>
                        <form class="form login-form">
                            <div class="field">
                                <div class="control email-login">
                                    <input class="input is-large" type="text" id="email-login" placeholder="Your Email" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control password-login">
                                    <input class="input is-large" type="password" id="password-login" placeholder="Your Password">
                                </div>
                            </div>
                            <button class="button button-login-inverse is-block is-large is-fullwidth" id="loginbtn" type="submit">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        </form>

                    </div>
                   
                    <p>
                          <a href="/auth/google">Sign In with Google</a> <br>
                        <a href="/signup">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
   </main>

{{!-- <script src="https://apis.google.com/js/platform.js" async defer></script> --}}
<script src="/js/login.js"></script>
