<section class="container">
  <h3 class="muscle-name">{{muscle.name}}</h3>
  <section class="flex-row justify-center">
    {{#each muscle.exercises as |exercise|}}
    {{> exercise-details}}
    {{/each}}
  </section>
</section>