<section class="section">
  <div class="container">
    <h1 class="title is-size-1 muscle-name has-text-centered">{{muscle.name}}</h1>
        <div class="columns is-mobile is-centered">
              <div class="column column-custom-center">
                  <ul class="ss-list-group" data-muscleid="">
                    {{#each muscle.exercises as |exercise|}}
                    {{> exercise-details}}
                    {{/each}}
                  </ul>
              </div>
        </div>
  </div>
</section>