
<section class="container">
  <h3 class="routine-name">{{exercise.name}}</h3>
  <!-- If the user is logged in, render the gallery content -->
  {{!-- {{#if loggedIn}} --}}
  <section class="flex-row justify-center">
      {{!-- Not sure what would go here, maybe a loop over exercises --}}
    {{!-- {{#each routines.exercises as |routine|}}
    {{> routine-details}}
    {{/each}} --}}
  </section>
</section>
<!-- Otherwise, provide a link to login -->
{{!-- {{else}} --}}
{{!-- Links to login page --}}
<a href="/login">You must login first to access the routines feature</a>
{{!-- {{/if}} --}}