<main>

    <div class="container">
        <div class="columns">
            <!--Col 1-->
            <div class="column is-one-half">
                <!--Profile-->
                <div class="row">
                        <nav id="followersList" class="panel card-formatting">
                            <p class="panel-heading">
                                Profile
                            </p>
                            <div class="columns">
                                <div class="column is-one-quarter">
                                    <img src={{user.image}}
                                        alt="User Image">
                                </div>
                                <div class="column is-three-quarters">
                                    <p>First Name: <span>{{user.firstName}}</span></p>
                                    <p>Last Name: <span>{{user.lastName}}</span></p>
                                    <p>Email: <span>{{user.email}}</span></p>
                                </div>
                            </div>
                        </nav>
                </div>
                <!--Followers-->
                <div class="row">
                    <div class="column">
                        <nav id="followersList" class="panel card-formatting">
                            <p class="panel-heading">
                                Routines
                            </p>
                        </nav>
                    </div>
                </div>
                <!--Following-->
            </div>

            <!--Col 2-->
            <div class="column is-one-half">
                <div class="column">
                    <nav id="routineList" class="panel card-formatting">
                        <p class="panel-heading">
                            Exercises
                        </p>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</main>