<section class="section">
    <div class="container">
        <div class="columns">
            <!--Col 1-->
            <div class="column is-one-half">
                <!--Profile-->
               
                    <article id="routineData" class="panel card-formatting" data-routineid="{{this.routine.id}}">
                        <p class="panel-heading">
                            Routine Info
                        </p>
                        <div class="panel-block">
                            <div class="columns">
                                <div class="column is-three-quarters">
                                    <p>ID: <span>{{this.routine.id}}</span></p>
                                    <p>Name: <span>{{this.routine.name}}</span></p>
                                    <p>Description: <span>{{this.routine.email}}</span></p>
                                </div>
                            </div>
                        </div>
                    </article>
             </div> 

                <!--Followers-->
            <div class="column is-one-half">
                    <div id="currentList">
                        <article class="panel card-formatting">
                            <p class="panel-heading">
                                Current Exercises
                            </p>
                            <ul class="ss-list-group">
                                {{#each this.routine.exercises as |this|}}
                                {{> exercise-details-remove}}
                                {{/each}}
                            </ul>
                        </article>
                    </div>
            </div>
                <!--Following-->
        </div>
        <div class="columns">
            <!--Col 2-->
            <div class="column is-one-half">
                <div id="addList">
                    <article class="panel card-formatting">
                        <p class="panel-heading">
                            Add Exercises
                        </p>
                        <ul class="ss-list-group">
                            {{#each this.exercise as |this|}}
                            {{> exercise-details-add}}
                            {{/each}}
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>