
    <div class="container">
        <div class="columns">
            <!--Col 1-->
            <div class="column is-one-half">
                <!--Profile-->
                <div class="row">
                        <nav id="followersList" class="panel card-formatting">
                            <p class="panel-heading">
                                Profile
                            </p>
                            <div class="columns">
                                <div class="column is-three-quarters">
                                    <p>ID: <span>{{routine.id}}</span></p>
                                    <p>Name: <span>{{routine.name}}</span></p>
                                    <p>Description: <span>{{routine.email}}</span></p>
                                </div>
                            </div>
                        </nav>
                </div>
                <!--Followers-->
                <div class="row">
                    <div class="column">
                        <nav id="followersList" class="panel card-formatting">
                            <p class="panel-heading">
                                Routines
                            </p>
                        </nav>
                    </div>
                </div>
                <!--Following-->
            </div>

            <!--Col 2-->
            <div class="column is-one-half">
                <div class="column">
                    <nav id="routineList" class="panel card-formatting">
                        <p class="panel-heading">
                            Exercises
                        </p>
                    </nav>
                </div>
            </div>
        </div>
    </div>
