
    <section id="login-section" class="hero is-fullheight">
        <div class="hero-body hero-signup">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4 signup-block">
                    <h2 class="title mt-3">Sign Up</h2>
                    <hr class="signup-hr">
                    <p class="signup-subtitle">Get on the ball and register.</p>
                    <div class="avatar-box">
                        <figure class="avatar">
                            <img src="../public/assets/images/logo-main.png">
                        </figure>
                        <form class="form signup-form">

                            <div class="field">
                                <div class="control email-signup">
                                    <input class="input is-large" type="text" id="email-signup" placeholder="Your Email"
                                        autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control password-signup">
                                    <input class="input is-large" type="password" id="password-signup"
                                        placeholder="Your Password">
                                </div>
                            </div>

                            <button class="button is-block button-signup-inverse is-large is-fullwidth" id="signupbtn"
                                type="submit">Sign up </button>
                        </form>

                        <p class="mt-4">
                            <a href="/auth/google">Sign Up with Google</a> <br>
                            <a href="/login">Login</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>