/* @import 'bulma/css/bulma.css' */

body {
    background: #efefef;
}

/* This would hide logout button */
/* .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
  } */