/* @import 'bulma/css/bulma.css' */

 /*** Global ***/
:root {
    --light-grayish-cyan:#2C3E50;
    --bright-red: #E74C3C;
    --bright-blue: #3498DB;
    --strong-blue: #2980B9;
    --white: #fff;
}

body {
    background: #fafafa;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden; /* Bulma hack for mobile-remove space on right side */
    /* Sticky Footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h3 {
    font-size: 1.5rem; 
    line-height: 1.2;
    margin-bottom: 1em;
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

/* Sticky Footer */
main {
    flex: 1;
}
p {
    line-height: 1.5;
    margin-bottom: 1em;
}
.mx-auto {
    margin: 0 auto;
}

 /*** Navigation ***/
.navbar, .navbar-menu {
    background-color: var(--strong-blue);
}

.navbar-item {
    color: var(--white);
    font-weight: 700;
    font-size: 1.125rem;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    background-color: var(--bright-blue);
    color: var(--white);
}

.navbar-burger, .navbar-burger:hover {
    color: var(--white);
}

.navbar-burger span {
 height: 2px;
}

.navbar-item img {
    max-height: 2.75rem; 
}

.button-login,
.button-login-inverse:hover,
.button-signup-inverse:hover,
.button.button-login:active,
.button.button-login:focus,
.button-login-inverse:active,
.button-login-inverse:focus,
.button-signup-inverse:active,
.button-signup-inverse:focus {
    background-color: var(--bright-red);
    border-color: #e53c2b;
    color: var(--white);
    text-transform: uppercase;
}

.button-login-inverse,
.button-signup-inverse {
    text-transform: uppercase;  
}

.button.login-button.is-hovered, 
.button.button-login:hover, 
.button-login-inverse,
.button-signup-inverse {
    background-color: var(--white);
    border-color: #e53c2b;
    color: var(--bright-red);
}

.button-classic {
    background-color: var(--strong-blue);
    color: var(--white);
    border-color: #2472a4;
   
}

.button-classic:hover {
    background-color: var(--bright-blue);
    color: var(--white);
    border-color: #2472a4;        
}

 /*** Login and Signup ***/
 .login-subtitle, .signup-subtitle {
    margin-bottom: 5rem;
    font-weight: 700;
}

.avatar-box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
    margin: 1.75rem 0;
}

.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}

.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
    box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
}

.signup-block {
    background-color: #fafafa;   
}

.signup-hr {
    color: #ededed;
}

 /*** Hero images ***/
.hero-body.hero-main{
    background: linear-gradient(90deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,0) 100%), url('../assets/images/man-looking-at-phone-working-out.jpg') center top/cover no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-start;
    min-height: 600px;
}

.hero-body.hero-signup {
    background: linear-gradient(90deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,0) 100%), url('../assets/images/home-fitness-equipment-1840858_1920.jpg') center top/cover no-repeat;
}

.hero-title {
    text-transform: uppercase;
    font-weight: 400;   
    padding: 0 1.25rem;
    font-size: 2.25rem;
    line-height: 1.5;
    color: var(--white);    
}

.hero-subtitle {
    background-color: #e12e1c;
    font-weight: 900;
    display: inline-block;
    padding: .5rem 1.25rem;
    font-size: 2.625rem;
    color: var(--white);    
}

 /*** Info boxes home ***/
#workout-benefits {
    background: #CBE854 url('../assets/images/triangle-pattern.png') center top/cover repeat-x;
    padding: 2.5rem 0;
}

.info-box i {
    font-size: 3rem;
    padding-bottom: .5em;
}

/*** Custom cards ***/
.card-content .media-content {
    border-bottom: 1px #eaeaea solid;
}

.circle {
    width: 4rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
    border: 2px solid #2C3E50;
}

.card-workout-content {
    background-color:rgba(214, 234, 248, .20);
}

.workout-content h4.title {
    font-weight: normal;
    margin-bottom: .25em;
}

.content.workout-content p {
    margin-bottom: 1.5rem;
}


 /*** List Groups ***/
 .column-custom-center {
    flex: none;
    width: unset
 }

.ss-list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.ss-list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #efefef;
    margin: .25rem 0;
    /* width: 40%; */
    text-align: center;
    border-radius: .5rem;
}

.ss-list-group-item:hover {
    box-shadow: 0 .5em .5em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    left: .1875rem;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color:rgba(41, 128, 185, .01);
}

.ss-list-group-item:hover a {
    color: var(--strong-blue);
}

.ss-list-group-item a {
    color: inherit;
    display: block;
}

 /*** API images ***/
div.muscle-background {
    width: 150px;
    height: 276px;
    background-size: 150px;
    background-repeat: no-repeat;
}

/*** Panels ***/
.panel-heading {
    color: var(--white);
    background: var(--light-grayish-cyan) url('../assets/images/panel-heading-bg.png') center top/cover no-repeat;
}
.panel-heading.panel-heading-button {
    display: flex;
    justify-content: space-between;
}

/******** MEDIA QUERIES *******/
/* Mobile up to 768px */
@media screen and (max-width: 768px) {
    .info-box {
       padding: 1.25rem; 
    }
}

/* Tablet between 769px  and 1023px*/
@media screen and (min-width: 769px) and (max-width: 1023px) {
    .hero-title{
        font-size: 2.625rem;
    }
    .hero-subtitle {
        font-size: 3rem;
    }
}

/* Desktop between 1024px and 1215px*/
@media screen and (min-width: 1024px) and (max-width: 1215px) {
    .hero-title{
        font-size: 4.5rem;
    }

    .hero-subtitle {
        font-size: 4.5rem;
    }

    .column-custom-center {
        flex: none;
        width: 50%;
    }

    .ss-list-group-item {
        width: 40%;
    }
}
/* Widescreen between 1216px and 1407px */
@media screen and (min-width: 1216px) {
    .hero-title{
        font-size: 4.5rem;
    }

    .hero-subtitle {
        font-size: 5rem;
    }
}

/* Full HD 1408px and above */
/* @media screen and (min-width: 1408px) {

    
/* This would hide logout button */
/* .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
  } */
